@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 237, 237;
  --background-end-rgb: 255, 255, 255;
  --brand-main: #f28e08;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  letter-spacing: 15px;
}

nav {
  max-width: 700px;
    margin: 0 auto;
}
nav a {
  text-transform: uppercase;
  text-decoration: underline;
  /* color: var(--brand-main); */
}

.body-text {
  font-family: monospace;
}

.body-text p {
  margin-bottom: 1rem;
  max-width: 900px;
}

.body-text a {
  color:var(--brand-main)
}

.body-text h2 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  margin-bottom: 1rem;
}

.hill-wrapper {
  background: #1a1718;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hill-wrapper  img {
  position: absolute;
  top: 0;
}

.hill-photo {
  padding-top: calc(530 / 2000 * 100%);
}

.hill-buttons,
.hill-header{
  color: #fff;
}

.hill-header {
  position: absolute;
  padding-left: 1rem;
  
}

.hill-title {
  font-size: clamp(24px, 6vw, 72px);
  text-shadow: 1px 1px 3px #444;
}

.hill-date {
  font-size: clamp(12px, 3vw, 24px);
  text-shadow: 1px 1px 3px #444;
}

.hill-buttons a,
.hill-buttons .pending {
  color: #fef5ea;
  letter-spacing: 1px;
  display: inline-block;
  background-color: var(--brand-main);
  padding: 0.25rem 0.75rem;
  border: 1px solid #1a1718;
  border-radius: 0;
  font-size: 12px;
  font-size: clamp(10px, 2vw, 18px);
  text-transform: uppercase;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.hill-buttons .pending {
  background-color: #444;
}